.row
  .seven.columns
    = simple_form_for @team do |f|
      = field_set_tag 'Sport and Season' do
        = f.input :sport, collection: Sport::NAMES, include_blank: false
        = f.input :season_id, collection: league_seasons(@team), include_blank: false

      = field_set_tag 'Roster' do
        %table.roster
          %tr
            %th First Name
            %th Last Name
          = render partial: 'team_member', collection: @team.players, locals: { mode: 'remove' }
        = hidden_field_tag 'team[player_ids][]'

      = f.button :submit, class: 'button', disable_with: 'Updating..'
      - unless @team.new_record?
        = link_to 'Delete Team', @team, method: :delete, class: 'tiny alert button delete-team', confirm: 'Permanently delete this team?'

  .five.columns
    = form_tag players_path, method: :get, remote: true do |f|
      = field_set_tag 'Search players by first or last name' do
        %input{ type: 'text', name: 'name' }
        = submit_tag 'Search', class: 'tiny secondary button'
        .player-results

    = simple_form_for Player.new, remote: true do |f|
      = field_set_tag 'Create a new player' do
        .row
          .six.columns
            = f.input :first_name
          .six.columns
            = f.input :last_name
        .row
          .twelve.columns
            = f.button :submit, 'Create and Add to Roster', class: 'tiny button add-player'

    = link_to 'Create a new game for this team', new_game_path(team_id: @team.id)
