%h1 #{current_admin.school.name} Teams

= link_to 'Create New Team', new_team_path, class: 'tiny button new-team'

#teams-list
  %table
    - if @teams.length > 0
      - @teams.each do |team|
        %tr
          %td= team.sport
          %td= team.season.year
          %td
            %a{ href: edit_team_path(team) }
              %i.icon-edit
              Edit
    - else
      %tr
        %td{ colspan: '3' } No teams currently exist for #{current_admin.school.name}.
