%h1 #{current_school.name} Teams

#main.twelve.columns
  .row
    #teams-list.ten.columns
      %table
        - if @teams.length > 0
          - @teams.each do |team|
            %tr
              %td= team.sport.name
              %td= team.season.year
              %td
                %a{ href: edit_team_path(team) }
                  %i.icon-edit
                  Edit
        - else
          %tr
            %td{ colspan: '3' } No teams currently exist for #{current_school.name}.

    .two.columns
      = link_to 'Create New Team', new_team_path, class: 'small button new-team'

