School name: #{@account_request.school_name}
School address: #{@account_request.school_address}
Association: #{@account_request.school_assn}
League/Division: #{@account_request.school_league}
Applicant name: #{@account_request.applicant_name}
Email: #{@account_request.applicant_email}
Phone: #{@account_request.applicant_phone}
Position with school: #{@account_request.applicant_position}
Message:
= @account_request.message
