%p School name: #{@account_request.school_name}
%p School address: #{@account_request.school_address}
%p Association: #{@account_request.school_assn}
%p League/Division: #{@account_request.school_league}
%p Applicant name: #{@account_request.applicant_name}
%p Email: #{@account_request.applicant_email}
%p Phone: #{@account_request.applicant_phone}
%p Position with school: #{@account_request.applicant_position}
%p Message:
%p= @account_request.message
