%table.player-stats
  - if player_stat_group.name.present?
    %caption= player_stat_group.name

  %thead
    %tr
      %th Player
      - player_stat_group.player_stat_fields.each do |field, attributes|
        %th= attributes[:abbr]

  %tbody
    = simple_fields_for game do |game_fields|
      - (team.player_game_stats(game, player_stat_group) + [PlayerGameStat.new]).each do |player_game_stat|
        = game_fields.fields_for :player_game_stats, player_game_stat, child_index: child_index(player_game_stat) do |player_game_stat_fields|
          = player_game_stat_fields.fields_for :stats, player_game_stat do |stats|
            = render 'games/form/player_game_stat_fields',
                player_game_stat_fields: player_game_stat_fields,
                stats_fields: stats,
                player_stat_group: player_stat_group,
                team: team