%h2= local_assigns[:title] || "Recent Scores"

- if games && games.length > 0
  .row
    - games.each do |game|
      .four.columns
        %table.game-stats
          %thead
            %tr
              %th Team
              - game.summary_stats.each do |stat, attributes|
                %th= attributes[:abbr]

          %tbody
            = render 'games/team_summary', game: game, team: game.away_team
            = render 'games/team_summary', game: game, team: game.home_team

        = link_to 'Box Score', game_path(game), class: 'box-score'

        .sharing.summary
          %span Share:
          %span= link_to 'Share on Facebook', facebook_share_url(game_url(game)), class: 'facebook', target: '_blank'
          %span= link_to 'Share on Twitter',
            "http://twitter.com/home/?status=#{CGI::escape(twitter_box_score_message(game.team, game.opponent, game.date, game_url(game)))}",
            class: 'twitter', data: { lang: 'en' }, target: '_blank'
          %span= link_to 'Share via email', "mailto:?subject=#{box_score_email_link(game)}",
            class: 'email', target: '_blank'

- else
  .row
    .twelve.columns
      %p No scores to display.
