%h2= local_assigns[:title] || "Recent Scores"

- if games && games.length > 0
  .row.float-left-last-column
    - games.each do |game|
      .four.column
        = link_to game_path game do
          %table.game-stats{ class: game.sport_type }
            %thead
              %tr
                %th.team
                  %span Team
                - game.summary_stats.each do |stat, attributes|
                  %th= attributes[:abbr]

            %tbody
              = render 'games/team_summary', game: game, team: game.away_team
              = render 'games/team_summary', game: game, team: game.home_team

          = link_to 'Box Score', game_path(game), class: 'box-score'
          - if superadmin_signed_in?
            = link_to 'Write about it', new_post_path(game_id: game.id), class: 'box-score'

        .sharing.summary
          %span Share:
          %span= link_to 'Share on Facebook', facebook_share_url(game_url(game)), class: 'facebook', target: '_blank'
          %span= link_to 'Share on Twitter',
            "http://twitter.com/home/?status=#{twitter_box_score_message(game)}",
            class: 'twitter', data: { lang: 'en' }, target: '_blank'
          %span= link_to 'Share via email', "mailto:?subject=#{box_score_email_link(game)}",
            class: 'email', target: '_blank'

- else
  .row
    .twelve.columns
      %p No scores to display.
