= field_set_tag 'Player Stats' do
  %table.player-stats
    %thead
      %tr
        %th Player
        %th Pos
        %th Pts
        %th FG
        %th FGA
        %th 3pt FG
        %th 3pt FGA
        %th FT
        %th FTA
        %th Reb
        %th A

    %tbody
      / = fields_for game do |game_form|
      /   = game_form.fields_for :player_game_stats do |player_stats_form|
  
      - game.team.players.each do |player|
        %tr
          %td
            = player.name
            %input{ name: 'game[player_game_stats][][player_id]', type: 'hidden', value: player.id }
          %td
            %input{ name: 'game[player_game_stats][][stats][position]', type: 'text', value: '' }
          %td
            %input{ name: 'game[player_game_stats][][stats][points]', type: 'text', value: '' }
          %td
            %input{ name: 'game[player_game_stats][][stats][fg]', type: 'text', value: '' }
          %td
            %input{ name: 'game[player_game_stats][][stats][fga]', type: 'text', value: '' }
          %td
            %input{ name: 'game[player_game_stats][][stats][3pt_fg]', type: 'text', value: '' }
          %td
            %input{ name: 'game[player_game_stats][][stats][3pt_fga]', type: 'text', value: '' }
          %td
            %input{ name: 'game[player_game_stats][][stats][ft]', type: 'text', value: '' }
          %td
            %input{ name: 'game[player_game_stats][][stats][fta]', type: 'text', value: '' }
          %td
            %input{ name: 'game[player_game_stats][][stats][rebounds]', type: 'text', value: '' }
          %td
            %input{ name: 'game[player_game_stats][][stats][assists]', type: 'text', value: '' }

  %h2 Opponent
  %table.player-stats
    %tr
      %th Player
      %th Pos
      %th Pts
      %th FG
      %th FGA
      %th 3pt FG
      %th 3pt FGA
      %th FT
      %th FTA
      %th Reb
      %th A

= field_set_tag 'Game Stats' do
  %table.game-stats
    %thead
      %tr
        %th Team
        %th Q1
        %th Q2
        %th Q3
        %th Q4
        %th OT1
        %th OT2
        %th Final

    %tbody
      %tr
        %td.team-name= game.team.display_name

        - %w{1 2 3 4 OT1 OT2}.each do |period|
          %td{ class: period.to_s.downcase }
            %input{ name: game_stats_period_field(game.team, period), type: 'text', value: game.stats.team_stats(game.team_id).points(period) }

        %td.final-points
          = game.stats.team_stats(game.team_id).final

      %tr
        %td.opponent= game.opponent.display_name

        - %w{1 2 3 4 OT1 OT2}.each do |period|
          %td{ class: period.to_s.downcase }
            %input{ name: game_stats_period_field(game.opponent, period), type: 'text', value: game.stats.team_stats(game.opponent_id).points(period) }

        %td.final-points
          = game.stats.team_stats(game.opponent_id).final

/ 
/ games_stats: {
/   team_id: {
/     q1: 25,
/     q2: 20,
/     q3: 22,
/     q4: 28,
/     final: 100
/   }
/ }
/ 
/ games_stats: {
/   team_id: {
/     quarters: {
/       1: 25,
/       2: 20,
/       3: 22,
/       4: 28
/     },
/     final: 100
/   }
/ }
/ 
/ games_stats: {
/   team_id: {
/     innings: {
/       1: 2,
/       2: 0,
/       3: 1,
/       4: 0,
/       5: 0
/     }
/     final: 3
/   }
/ }
/ 
/ games_stats[team_id][:innings][19]