= field_set_tag 'Game Stats' do
  = form.fields_for :game_stats do |stat|
    %table.game-stats
      %tr
        %th Team
        %th 1
        %th 2
        %th 3
        %th 4
        %th 5
        %th 6
        %th 7
        %th Final

      %tr.team-game-stats
        %td.team-name= @game.team.school.name
        %td= stat.input :inning_01_runs, required: false, label: false
        %td= stat.input :inning_02_runs, required: false, label: false
        %td= stat.input :inning_03_runs, required: false, label: false
        %td= stat.input :inning_04_runs, required: false, label: false
        %td= stat.input :inning_05_runs, required: false, label: false
        %td= stat.input :inning_06_runs, required: false, label: false
        %td= stat.input :inning_07_runs, required: false, label: false
        %td.final-points= stat.input :total_runs, required: false, label: false

      %tr.team-game-stats
        %td.opponent Opponent
        %td= stat.input :opponent_inning_01_runs, required: false, label: false
        %td= stat.input :opponent_inning_02_runs, required: false, label: false
        %td= stat.input :opponent_inning_03_runs, required: false, label: false
        %td= stat.input :opponent_inning_04_runs, required: false, label: false
        %td= stat.input :opponent_inning_05_runs, required: false, label: false
        %td= stat.input :opponent_inning_06_runs, required: false, label: false
        %td= stat.input :opponent_inning_07_runs, required: false, label: false
        %td.final-points= stat.input :opponent_total_runs, required: false, label: false
