= field_set_tag 'Player Stats' do
  = render 'games/form/player_stats', game: game, team: game.team
  = render 'games/form/player_stats', game: game, team: game.opponent

= field_set_tag 'Game Stats' do
  %table.game-stats
    %thead
      %tr
        %th Team

        - game.sport.periods.each do |period|
          %th= period

        %th.add-period
          %a{ href: '#', title: 'Add overtime period' }
            %span.icon-plus

        %th Final

        - game.sport.game_stats.each do |key, attributes|
          %th= attributes[:abbr]

    %tbody
      = render 'games/form/game_stats', game: game, team: game.team
      = render 'games/form/game_stats', game: game, team: game.opponent