%h1 Update box score

#main
  .row
    .eleven.columns.centered
      = simple_form_for @game do |f|
        - if @game.errors.any?
          %ul.errors
            = list_of @game.errors.full_messages do |e|
              = e

        = field_set_tag 'Game Information' do
          %dl.home-away
            %dt Home:
            %dd= @game.home_team.display_name
            %dt Away:
            %dd= @game.away_team.display_name

          = f.input :neutral_site, as: :boolean

          .date
            = f.input :date, as: :string, required: false

        #sport_fields
          = render partial: "games/form", locals: { game: @game }

        - if @game.published?
          = f.submit 'Update Box Score', class: 'medium button'
        - else
          = f.submit 'Save & Publish Scores', class: 'medium button', name: 'game[publish]'
          = f.submit 'Save Draft', class: 'medium secondary button'

        = link_to 'Delete Box Score', game_path(@game), method: :delete, class: 'medium secondary button'


:javascript
  $(function() {
    new BoxScore.Games($('form.edit_game'));
  });
