- if @filter.sport.present?
  - content_for :title, @filter.sport.name

#main.twelve.columns
  .row
    .twelve.columns
      .row
        %nav#scores-nav.twelve.columns{ class: params[:sport_id] }
          %dl.six.columns
            %dt Boys:
            %dd.boys-basketball= link_to 'Basketball', boys_basketball_path, class: 'first'
          %dl.six.columns
            %dt Girls:
            %dd.girls-basketball= link_to 'Basketball', girls_basketball_path, class: 'first'

  = render 'shared/filter_form'

  %section#recent-scores
    - GamesGrouping.new(@filter).each do |sport, games_on_date|
      %h1= sport.name
      - games_on_date.each do |date, games|
        = render 'shared/recent_scores', games: games, title: date.stamp("Friday, June 1, 1981")

:javascript
  $(function() {
    new BoxScore.Filters($('#filter-scores'), { filter: #{@filter.params.to_json} })
  });
