- content_for :title, "#{@game.sport.name} - #{@game.home_team.school_name} at #{@game.away_team.school_name}"
%h1
  %strong #{@game.home_team.school_name}
  at
  %strong #{@game.away_team.school_name}
  = @game.sport.name

%h2= @game.date.stamp('March 1, 1999')

#main.twelve.columns
  - if admin_signed_in?
    = link_to 'Edit this box score', edit_game_path(@game), class: 'edit-box-score small button'

  .sharing.complete-box-score
    %span Share:
    %span= link_to 'Share on Facebook', facebook_share_url(game_url(@game)), class: 'facebook', target: '_blank'
    %span= link_to 'Share on Twitter',
      "http://twitter.com/home/?status=#{CGI::escape(twitter_box_score_message(@game.team, @game.opponent, @game.date, game_url(@game)))}",
      class: 'twitter', data: { lang: 'en' }, target: '_blank'
    %span= link_to 'Share via email', "mailto:?subject=#{box_score_email_link(@game)}",
      class: 'email', target: '_blank'

  %section#game-stats
    %h2 Game Summary

    %table.game-stats
      %thead
        %tr
          %th Team
          - @game.stats.periods.each do |period|
            %th= period

          %th Final

          - @game.sport.game_stats.each do |key, attributes|
            %th= attributes[:abbr]

      %tbody
        = render 'team_stats', game: @game, team: @game.away_team
        = render 'team_stats', game: @game, team: @game.home_team

  %section#player-stats
    - [@game.away_team, @game.home_team].each do |team|
      %h2= team.display_name
      - team.sport.player_stat_groups.each do |player_stat_group|
        = render 'games/player_stat_group', game: @game, team: team, player_stat_group: player_stat_group

:javascript
  $(function(){
    new BoxScore.Totals($('#player-stats'));
  });
