%h1
  %strong #{@game.team.display_name}
  vs.
  %strong #{@game.opponent.display_name}

%h2= @game.date.stamp('March 1, 1999')

#main.twelve.columns
  = render "games/#{@game.team.sport_type}/box_score", game: @game
