%h1
  %strong #{@game.team.display_name}
  vs.
  %strong #{@game.opponent.display_name}

%h2= @game.date.stamp('March 1, 1999')

#main.twelve.columns
  - if admin_signed_in?
    = link_to 'Edit this box score', edit_game_path(@game), class: 'edit-box-score small button'

  .sharing.complete-box-score
    %span Share:
    %span= link_to 'Share on Facebook', facebook_share_url(game_url(@game)), class: 'facebook', target: '_blank'
    %span= link_to 'Share on Twitter',
      "http://twitter.com/home/?status=#{CGI::escape(twitter_box_score_message(@game.team, @game.opponent, @game.date, game_url(@game)))}",
      class: 'twitter', data: { lang: 'en' }, target: '_blank'

  = render "games/box_score", game: @game
