- stats = game.stats.team_stats(team)

%tr{ class: winner_class(game, team) }
  %th{ scope: 'row' }= team.school.name
  - unless brief == true
    - (1..game.stats.periods).each do |period|
      %td= stats.points(period.to_s).to_i
  %td= stats.final
  %td= stats.hits
  %td= stats.errors
