%tr
  %th{ scope: 'row' }
    = player_game_stat_fields.collection_select :player_id, team.players,
        :id, :name, { include_blank: true }, class: 'player'

  = stats_fields.fields_for :pitcher do |pitcher_stats|
    %td= pitcher_stats.text_field :order, maxlength: 2
    %td= pitcher_stats.text_field :ip, maxlength: 2
    %td= pitcher_stats.text_field :h, maxlength: 2
    %td= pitcher_stats.text_field :r, maxlength: 2
    %td= pitcher_stats.text_field :er, maxlength: 2
    %td= pitcher_stats.text_field :bb, maxlength: 2
    %td= pitcher_stats.text_field :so, maxlength: 2
