%table.player-stats.position-players
  %caption= team.school.name

  %thead
    %tr
      %th Player
      %th Pos
      %th AB
      %th H
      %th HR
      %th RBI
      %th E

  %tbody
    = simple_fields_for game do |game_fields|
      - (team.player_game_stats(game) + [PlayerGameStat.new]).each do |player_game_stat|
        = game_fields.fields_for :player_game_stats, player_game_stat, child_index: child_index(player_game_stat) do |player_game_stat_fields|
          = player_game_stat_fields.fields_for :stats, player_game_stat do |stats|
            = render 'games/baseball/position_player_game_stat_fields',
                player_game_stat_fields: player_game_stat_fields,
                stats_fields: stats,
                team: team
