%h1 #{@school.name} - Edit Profile
.five.columns.centered
  = simple_form_for @school do |f|
    = f.input :name
    = f.input :mascot
    = f.input :assn, collection: @school.assns, label: 'Association'

    = f.button :submit, class: 'medium secondary button'
