%h1 #{@school.name} - Edit Profile
.five.columns.centered
  = simple_form_for @school do |f|
    = f.input :name
    = f.input :mascot
    = f.input :league_id, collection: League.uniq.map{ |league| ["#{league.name} (#{league.assn.name})", league.id] }, label: 'League/Division', include_blank: false

    = f.button :submit, class: 'medium secondary button'
