.nine.columns
  %h1= @school.name
  -unless @school.mascot.blank?
    %p
      %strong School mascot:
      #{@school.mascot}
  %p
    %strong Association:
    #{@school.league.assn.name}
  %p
    %strong League/Division:
    #{@school.league.name}

-if admin_signed_in? && current_admin.school_id == @school.id
  .three.columns.admin-menu
    = render partial: 'shared/admin_menu'
