%h1= @school.name
-unless @school.mascot.blank?
  %p
    %strong School mascot:
    #{@school.mascot}
%p
  %strong Association:
  #{@school.assn.name}
%p
  %strong League/Division:
  #{@school.league.name}
- if signed_in? && @school.id == current_admin.school_id
  %p= link_to 'Edit this school profile', edit_school_path(@school)
