%h1= @school.name

#main.twelve.columns
  - if can?(:manage, @school)
    = link_to 'Edit Profile', edit_school_path(@school), class: 'small button edit-profile'

  .info.twelve.columns
    .row
      .twelve.columns.basic-info
        %dl
          -unless @school.address_1.blank?
            %div
              %dt Address
              %dd= @school.address_1
              %dd= @school.address_2
            %div
              %dt Association
              %dd= @school.assn
          -unless @school.mascot.blank?
            %div
              %dt Mascot
              %dd= @school.mascot
          -unless @school.athletic_director_name.blank?
            %div
              %dt Athletic Director
              %dd= @school.athletic_director_name
              -unless @school.athletic_director_email.blank?
                %dd= mail_to @school.athletic_director_email
              -unless @school.athletic_director_phone.blank?
                %dd= @school.athletic_director_phone

    - if admin_signed_in?
      .twelve.columns.teams
        %h2 Teams and Coaches
        -if @school.teams.any?
          %table
            %thead
              %tr
                %th Team
                %th Coach
                %th Email
                %th Phone
            %tbody
              - @school.teams.each do |team|
                %tr
                  %th{ scope: 'row' }
                    = link_to_if can?(:manage, team), team.sport.name, [:edit, team]
                  %td= team.coach_name
                  %td= mail_to team.coach_email
                  %td= team.coach_phone

        - else
          %p No current teams

    -else
      .twelve.columns
        %p
          If you are an administrator, please
          = link_to 'sign in', new_admin_session_path
          to view coach and contact information for this school.

  - if can?(:manage, @school) && @unpublished_games.present?
    .twelve.columns
      %h2 Unpublished Scores
      %ol
        - @unpublished_games.each do |game|
          %li= link_to "#{game.away_team.display_name} at #{game.home_team.display_name}", [:edit, game]

  .games.twelve.columns
    = render 'shared/recent_scores', games: @games
