#game-stats
  %h2 Game Summary

  %table.game-stats
    %thead
      %tr
        %th Team
        - (1..game.stats.periods).each do |period|
          %th= period.to_s
        %th Final

    %tbody
      = render 'games/basketball/game_stats_row', game: game, team: game.away_team, brief: false
      = render 'games/basketball/game_stats_row', game: game, team: game.home_team, brief: false

#player-stats
  = render 'games/basketball/player_stats', game: game, team: game.away_team
  = render 'games/basketball/player_stats', game: game, team: game.home_team
