%tr
  %th{ scope: 'row' }
    = player_game_stat_fields.collection_select :player_id, team.players,
        :id, :name, { include_blank: true }, class: 'player'

  %td= stats_fields.text_field(:pos, maxlength: 10).to_i
  %td= stats_fields.text_field(:points, maxlength: 3).to_i
  %td= stats_fields.text_field(:fg, maxlength: 2).to_i
  %td= stats_fields.text_field(:fga, maxlength: 2).to_i
  %td= stats_fields.text_field(:three_pt_fg, maxlength: 2).to_i
  %td= stats_fields.text_field(:three_pt_fga, maxlength: 2).to_i
  %td= stats_fields.text_field(:ft, maxlength: 2).to_i
  %td= stats_fields.text_field(:fta, maxlength: 2).to_i
  %td= stats_fields.text_field(:rebounds, maxlength: 2).to_i
  %td= stats_fields.text_field(:assists, maxlength: 2).to_i
