<div class="row">
  <%= form_for post do |f| -%>
    <%= field_set_tag 'Post' do %>
      <% if post.errors.any? %>
        <ul class="errors">
          <% post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :game %>
      <%= f.collection_select :game_id, Game.all, :id, :title, { include_blank: true } %>

      <%= f.label :header_image %>
      <%= f.file_field :header_image, class: 'post-form-image' %>

      <%= f.label :excerpt %>
      <%= f.text_area :excerpt, class: 'post-form-excerpt' %>

      <%= f.label :body %>
      <%= f.cktext_area :body %>

      <div>
        <p>Email this post <%= f.check_box :email, {}, true, false %></p>
      </div>

      <div>
        <%= f.submit class: 'medium button' %>
      </div>
    <% end %>
  <% end -%>
</div>
