<div class="row">
  <%= form_for post do |f| -%>
    <%= field_set_tag 'Post' do %>
      <% if post.errors.any? %>
        <ul class="errors">
          <% post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :excerpt %>
      <%= f.text_area :excerpt, class: 'post-form-excerpt' %>

      <%= f.label :body %>
      <%= f.cktext_area :body %>

      <%= f.submit class: 'medium button' %>
    <% end %>
  <% end -%>
</div>
