<div class="row post-container">
  <div class="mobile-twelve three columns post-image">
    <% if post.header_image.exists? %>
      <%= link_to image_tag(post.header_image.url(:medium)), post_path(post) %>
    <% end %>
  </div>
  <div class="mobile-twelve nine columns">
    <h1 class="post-title"><%= link_to post.title, post %></h1>
    <div class="post-body">
      <p>
        <%= post.excerpt %>
        <%= link_to "Read more", post, class: "read-more" %>
      <p>
        <% if post.game.present? %>
          <%= render 'games/game_summary', game: post.game %>
          <%= link_to 'Box Score', game_path(post.game), class: 'box-score' %>
        <% end %>
    </div>
    <%= render 'admin_actions', post: post %>
  </div>
</div>
