
  <div class="<%= columns %> columns">
    <div class='post-div' style='margin:auto;'>
        <%= link_to image_tag(post.header_image.url, class: 'post-header-image', style: styles), post_path(post.id) %>
        <h1 class="post-title"><%= link_to post.title, post %></h1>
        <p class='datestamp'> <%= post.published_at.strftime("%B %-1d, %Y") %> </p>
        <div class="post-body">
          <p>
            <%= post.excerpt %><br />
            <%= link_to "Read more", post, class: "read-more" %>
          <p>
        </div>
        <%= render 'admin_actions', post: post %>
    </div>
  </div>