<%= content_for :fluid do %>
  <div id="" class="twelve columns">
      <div class="posts">
        <div class="hide-for-medium hide-for-mobile hide-for-small hide-for-medium">
          <% @posts.in_groups_of(4, false).each do |posts| %>
          	<div class="post-container">
      	    	<% posts.each do |post| %>
      	      		<%= render partial: "post", locals: {post: post, columns: 'three', styles: ''} %>
      	      	<% end %>
                <div class="clearfix"></div>
      	    </div>
         <% end %>
        </div>

        <div class="hide-for-mobile hide-for-small hide-for-large hide-for-xlarge">
          <% @posts.in_groups_of(3, false).each do |posts| %>
            <div class="post-container">
              <% posts.each do |post| %>
                  <%= render partial: "post", locals: {post: post, columns: 'four', styles: 'object-fit: contain;width:300px;'} %>
                <% end %>
                <div class="clearfix"></div>
            </div>
         <% end %>
        </div>


        <div class="hide-for-medium hide-for-large hide-for-xlarge">
          <% @posts.in_groups_of(3, false).each do |posts| %>
            <div class="post-container">
              <% posts.each do |post| %>
                  <%= render partial: "post", locals: {post: post, columns: 'twelve', styles: 'width:100%;height:100%;'} %>
                <% end %>
                <div class="clearfix"></div>
            </div>
         <% end %>
        </div>


        <div class="pagination">
          <%= will_paginate @posts, page_links: false %>
        </div>
      </div>
  </div>
<% end %>