<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@hsboxscoresnyc">
<meta name="twitter:title" content="<%= @post.title %>">
<meta name="twitter:description" content="<%= @post.excerpt %>">
<meta name="twitter:image" content="<%= @post.header_image.url %>">

<div class="mobile-twelve nine columns centered">
  <div class="posts-container">
    <div class="row post-header">
      <div class="post-image-show">
        <% if @post.header_image.exists? %>
          <%= image_tag @post.header_image.url %>
        <% end %>
        <h1 class="post-title"><%= @post.title %></h1>
        <p class='datestamp'> <%= @post.published_at.strftime("%B %-1d, %Y") %> </p>
        <div class="sharing">
          <span>
            <%= link_to 'Share on Facebook', facebook_share_url(post_url(@post)),
              class: 'facebook', target: '_blank' %>
          </span>
          <span>
            <%= link_to 'Share on Twitter',
              "http://twitter.com/home/?status=#{twitter_post_message(@post)}",
              class: 'twitter', data: { lang: 'en' }, target: '_blank'
            %>
          </span>
        </div>
        <hr />
        <% if @post.game.present? %>
          <%= render 'games/game_summary', game: @post.game %>
          <%= link_to 'Box Score', game_path(@post.game), class: 'box-score' %>
        <% end %>
        <div class="post-body"><%= @post.body.html_safe %></div>
      </div>
    </div>
    <%= render 'admin_actions', post: @post %>
  </div>
</div>
