!!!
%html{lang: 'en'}
  %head
    %meta{ charset: 'utf-8' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }/

    %title= content_for?(:title) ? yield(:title) : 'HSBoxScore'
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body{ body_attributes }
    - if flash.alert
      #flash
        %p= flash.alert

    = link_to 'Home', root_path, id: 'branding'

    %header.global.twelve.columns
      .row
        .eight.columns.offset-by-four

          #twitter-button
            %p Follow us on Twitter
            = link_to '@hsboxscoresnyc', 'http://twitter.com/hsboxscoresnyc'

          %nav.global
            %p
              %span#registration-links
              - if admin_signed_in?
                Welcome, #{current_admin.name}
                = link_to 'Sign out', destroy_admin_session_path, method: :delete, id: 'logout'
              - else
                = link_to 'Admin sign in', new_admin_session_path, id: 'login'
              = link_to 'About us', '/about-us'
              = link_to 'Add your school', '#', class: 'account-request'

    .row
      #content.twelve.columns
        .row
          %nav#scores-nav.twelve.columns{ class: params[:sport_id] }
            %dl.six.columns
              %dt Boys:
              %dd.boys-basketball= link_to 'Basketball', boys_basketball_path, class: 'first'
              %dd.boys-baseball= link_to 'Baseball', boys_baseball_path, class: 'disabled'
            %dl.six.columns
              %dt Girls:
              %dd.girls-basketball= link_to 'Basketball', girls_basketball_path, class: 'first'
              %dd.girls-softball= link_to 'Softball', girls_softball_path, class: 'disabled'

        -if admin_signed_in?
          = render 'shared/admin_menu'

        .row
          = yield

    .row
      %footer.global.twelve.columns
        %p.eight.columns Copyright&copy; #{Time.current.stamp '1999'} HS Box Scores NYC, LLC. All rights reserved.
        %nav.four.columns
          %ul
            %li= link_to 'Terms of Service', '/terms-of-service'
            %li= link_to 'Privacy Policy', '/privacy-policy'

  = render 'shared/request_form'
  = render 'shared/coming_soon_message'

  = render 'shared/google_analytics'
