!!!
/[if lt IE 7 ] <html class="ie6">
/[if IE 7 ] <html class="ie7">
/[if IE 8 ] <html class="ie8">
/[if IE 9 ] <html class="ie9">
/ [if (gt IE 9)|!(IE)]><!
%html
  / <![endif]
  %head
    %meta{ charset: 'utf-8' }/
    %meta{ content: @meta_description || 'Your source for New York City high school sports scores.', name: 'description' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }/

    %title
      - if content_for?(:title)
        = yield(:title)
        \-
      NYC High School Box Scores

    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag 'application'
    = csrf_meta_tags


  %body{ body_attributes }
    = render 'shared/flash_messages' if flash.any?
    %header
      %marquee.games.marquee.show-for-large-up
        = render partial: 'games/game_summary', collection: @marquee_games, as: :game
      %nav.twelve.columns.top-nav
        .left.mobile-twelve.left-nav.hide-for-small
          = link_to image_tag('hsboxscore-logo-small.png'), root_path
          %h1
            &#x2605; HS BASKETBALL IN NYC &#x2605;
        .show-for-small.mobile-twelve.left-nav.left
          = link_to image_tag('hsboxscore-logo.png'), root_path
        .show-for-small.mobile.mobile-twelve
          %button.toggle
            toggle
          %div{style:"overflow:hidden;"}
            = link_to 'Posts', posts_path
            = link_to 'Games', games_path
            = link_to 'About Us', '/about-us'
            = link_to 'FAQ', '/faq'
            - unless admin_signed_in?
              = link_to 'Add Your Team', '#', class: 'account-request'
            - if admin_signed_in? && current_admin.superadmin?
              = link_to 'SuperAdmin Dashboard', '/admin'
            - if admin_signed_in?
              = link_to 'Account', edit_account_path, class: 'edit-account'
              = link_to 'Sign Out', destroy_admin_session_path, method: :delete, id: 'logout'
            - else
              = link_to "Sign In", new_admin_session_path
        .right.right-nav.hide-for-small
          %ul.nav.buttons
            %li
              = link_to 'Posts', posts_path
            %li
              = link_to 'Games', games_path
            %li
              = link_to 'About Us', '/about-us'
            %li
              = link_to 'FAQ', '/faq'
            - unless admin_signed_in?
              %li
                = link_to 'Add Your Team', '#', class: 'account-request'
            - if admin_signed_in? && current_admin.superadmin?
              %li
                = link_to 'SuperAdmin Dashboard', '/admin'
            - if admin_signed_in?
              %li
                = link_to 'Account', edit_account_path, class: 'edit-account'
              %li
                = link_to 'Sign Out', destroy_admin_session_path, method: :delete, id: 'logout'
            - else
              %li
                = link_to("Sign In", new_admin_session_path, id: 'main-sign-in')

    .row
      -if admin_signed_in?
        = render 'shared/admin_menu'
      .mobile-twelve.nine.columns
        = yield
      .mobile-twelve.three.columns
        %ins{:class => "adsbygoogle", style: "display:inline-block;width:270px;height:270px", 'data-ad-client':"ca-pub-7880794362125914", 'data-ad-slot': "5287552182"}
      .mobile-twelve.three.columns.twitter-feed.hide-for-small
        %a.twitter-timeline{"data-widget-id" => "386209842722914304",
          "data-chrome" => "transparent",
          "data-theme" => "light",
          href: "https://twitter.com/hsboxscoresnyc",
          height: "1400"} Tweets by @hsboxscoresnyc

    .row
      %footer.global.twelve.columns
        .row
          .six.columns
            %p
              Subscribe to our newsletter
            = form_tag subscriptions_path, method: 'post' do
              = text_field_tag :email, nil, placeholder: "email"
              = submit_tag "Subscribe", class: 'button'

            %nav
              %ul
                %li= link_to 'Contact Us', '/contact-us'
                %li= link_to 'Terms of Service', '/terms-of-service'
                %li= link_to 'Privacy Policy', '/privacy-policy'
            %p.copyright Copyright &copy; #{Date.current.stamp '1999'} HS Box Scores NYC, LLC. All rights reserved.
          .six.columns
            .social
              - if facebook_page_url.present?
                = link_to image_tag("facebook.png"), facebook_page_url, target: '_blank', class: 'facebook-js'
              - if instagram_page_url.present?
                = link_to image_tag("instagram.png"), instagram_page_url, target: '_blank', class: 'instagram-js'
              - if twitter_page_url.present?
                = link_to image_tag("twitter.png"), twitter_page_url, target: '_blank', class: 'twitter-js'
              - if youtube_page_url.present?
                = link_to image_tag("youtube.png"), youtube_page_url, target: '_blank', class: 'youtube-js'


  = render 'shared/request_form'
  = render 'shared/coming_soon_message'

  %script{ src: "https://apis.google.com/js/platform.js", async: true, defer: true }
  %script{ src: "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js", async: true, defer: true }
  %script{ src: "//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.10/cookieconsent.min.js", async: true, defer: true }

  :javascript
    (adsbygoogle = window.adsbygoogle || []).push({});
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

  :javascript
    var message = "This website uses cookies to analyze our visitor traffic and to personalize content and ads."
    window.cookieconsent_options = {"message": message, "theme":"dark-top", "link":"/privacy-policy","theme":"dark-top"};

  = render 'shared/google_analytics'

