!!!
/[if lt IE 7 ] <html class="ie6">
/[if IE 7 ] <html class="ie7">
/[if IE 8 ] <html class="ie8">
/[if IE 9 ] <html class="ie9">
/ [if (gt IE 9)|!(IE)]><!
%html
  / <![endif]
  %head
    %meta{ charset: 'utf-8' }/
    %meta{ content: 'Your source for New York City high school sports scores.', name: 'description' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }/

    %title
      - if content_for?(:title)
        = yield(:title)
        \-
      NYC High School Box Scores

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = render 'shared/mixpanel'

  %body{ body_attributes }
    - if flash.alert
      #flash
        %p= flash.alert

    %header.global.twelve.columns
      .row
        %nav.twelve.columns.top-nav
          = link_to 'Posts', posts_path, class: 'pill'
          = link_to 'Games', games_path, class: 'pill'
          = link_to 'About Us', '/about-us', class: 'pill'
          = link_to 'FAQ', '/faq', class: 'pill'
          - unless admin_signed_in?
            = link_to 'Add Your Team', '#', class: 'pill account-request'
          = superadmin_dashboard_link
          - if admin_signed_in?
            = link_to 'Account', edit_account_path, class: 'edit-account pill'
            = link_to 'Sign Out', destroy_admin_session_path, method: :delete, id: 'logout', class: "pill"
          - else
            = link_to "Sign In", new_admin_session_path, class: "pill"

      %nav.global
        .row
          .five.columns
            = link_to 'Home', root_path, id: 'branding'
          .seven.columns
            %h1.welcome
              Welcome to
              %strong HS Box Scores NYC,
              dedicated to the display of
              %strong high school basketball, baseball, and softball scores
              in New York City.

        -if admin_signed_in?
          = render 'shared/admin_menu'

    .row
      = yield

    .row
      %footer.global.twelve.columns
        .row
          .six.columns
            %nav
              %ul
                %li= link_to 'Contact Us', '/contact-us'
                %li= link_to 'Terms of Service', '/terms-of-service'
                %li= link_to 'Privacy Policy', '/privacy-policy'
            %p.copyright Copyright &copy; #{Date.current.stamp '1999'} HS Box Scores NYC, LLC. All rights reserved.
          .six.columns
            %a.twitter-timeline{"data-widget-id" => "386209842722914304",
              href: "https://twitter.com/hsboxscoresnyc",
              height: 200} Tweets by @hsboxscoresnyc

            -if facebook_page_url.present?
              .social
                = link_to image_tag("social-facebook.png"), facebook_page_url, target: '_blank', class: 'facebook-js'


  = render 'shared/request_form'
  = render 'shared/coming_soon_message'

  %script{ src: "https://apis.google.com/js/platform.js", async: true, defer: true }

  :javascript
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

  = render 'shared/google_analytics'
