!!!
%html{lang: 'en'}
  %head
    %meta{ charset: 'utf-8' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }/
    %title= content_for?(:title) ? yield(:title) : 'HSBoxScore'
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body{ body_attributes }
    = link_to 'Home', root_path, id: 'branding'
    .row
      .three.columns.centered
        %p.notice
        - if flash.alert
          %p= flash.alert

    %header.global.twelve.columns
      .row
        .six.columns.offset-by-six

          = link_to 'Follow us on Twitter', 'http://twitter.com', id: 'twitter-button'

          %nav.global
            %p
              - if admin_signed_in?
                Welcome, #{current_admin.name}
                %span#registration-links
                  = link_to 'Log out', destroy_admin_session_path, method: :delete, id: 'logout'
              - else
                %span#registration-links
                  = link_to 'Log in', new_admin_session_path, id: 'login'

    .row
      #content.twelve.columns
        .row
          %nav#scores-nav.twelve.columns
            %dl.six.columns
              %dt Boys:
              %dd= link_to 'Basketball', '?filter[sport]=boys-basketball', class: 'first'
              %dd= link_to 'Baseball', '?filter[sport]=boys-baseball'
            %dl.six.columns
              %dt Girls:
              %dd= link_to 'Basketball', '?filter[sport]=girls-basketball', class: 'first'
              %dd= link_to 'Softball', '?filter[sport]=girls-softball'

        .row
          = yield

          -#-if admin_signed_in?
            .three.columns.admin-menu
              = render partial: 'shared/admin_menu'
