%h1 Edit Account

#main
  .row
    .five.columns.centered
      = simple_form_for @admin, url: account_path do |f|
        = f.error_notification
        = f.input :email
        = f.input :first_name
        = f.input :last_name
        = f.input :password, label: 'New password'
        = f.input :password_confirmation, label: 'New password confirmation'
        = f.button :submit, 'Save', class: 'medium secondary button'
